[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
sqlalchemy = "*"
slowapi = "*"
python-dotenv = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
python-multipart = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
