[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
slowapi = "*"
pyjwt = "*"
bcrypt = "*"
python-dotenv = "*"
python-multipart = "*"
email-validator = "*"
groq = "*"
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
asyncpg = "*"
python-jose = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.*"
